body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

hr{
    margin: 0px;
}

.content{
    height: 100vh;
    width: 100vw;
    display: flex;
}





/*  Left side */
.emails-list{
    border: 1px solid black;
    width: 20vw;
    height: 100%;
    overflow-y: scroll;
}

.row-emails{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.row-emails:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.row-emails + .active{
    background-color: #f1f1f1;
}

.row-emails input{
    background: none;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
}




/*  Center */

.EmailDetails{
    width: 20wv;
}

/* Right side */
.EmailSpecific{
    width: 70vw;
}

.email{
    padding: 0px 40px 0px 40px;
}
h2.subject{
    margin-bottom: 10px;
}

.from-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.text{
    font-size: 13px;
    line-height: 1.6;
    max-height: 75vh;
    overflow-y: scroll;
}


