body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    font-family: Arial;
}

hr{
    margin: 0px;
}

.content{
    height: 100vh;
    width: 100vw;
    display: flex;
}





/*  Left side */
.emails-list{
    border: 1px solid black;
    width: 20vw;
    height: 100%;
    overflow-y: auto;
}

.row-emails{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.row-emails:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.row-emails + .active{
    background-color: #f1f1f1;
}

.row-emails input{
    background: none;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
}




/*  Center */

.EmailDetails{
    width: 20wv;
}

/* Right side */
.EmailSpecific{
    width: 70vw;
}

.email{
    padding: 0px 40px 0px 40px;
}
h2.subject{
    margin-bottom: 10px;
}

.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text{
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
    height: 72vh;
    margin-top: 10px;
}





.btn-red {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
    background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
    background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
    background-image: -o-linear-gradient(top, #d93434, #b82b2b);
    background-image: linear-gradient(to bottom, #d93434, #b82b2b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.btn-red:hover {
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
    text-decoration: none;
}

.btn-blue{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.btn-blue:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.right{
    float: right;
}

