body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.content{
    height: 100vh;
    width: 100vw;
    display: flex;
}





/*  Left side */
.emails-list{
    border: 1px solid black;
    width: 15vw;
    height: auto;
    overflow-y: scroll;
}

.row-emails{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.row-emails:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.row-emails + .active{
    background-color: #f1f1f1;
}

.row-emails input{
    background: none;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
}




/*  Right side */

.EmailDetails{
    width: 85wv;
}